{% set random_news_bottom from stories starts_with:'de', per_page:3, sort_by:'random():asc', is_startpage: false %}
<ul class="more_articles">
  {% for news in random_news_bottom.data %}
    {% if news.id != story.id and news.content.featured_image != blank %}
    <li>
      <a href="/{{ news.full_slug }}">
        {% if above != blank %}
        <img src="{{ news.content.featured_image | resize:'353x' }}" alt="{{ news.content.featured_alt }}" class="uk-width-1-1"> 
        {% else %}
        <img data-src="{{ news.content.featured_image | resize:'353x' }}" alt="{{ news.content.featured_alt }}" class="uk-width-1-1 lazyload"> 
        {% endif %}
        <span>{{ news.content.title | default: news.name }}</span>
      </a>
    </li>
    {% endif %}
  {% endfor %}
</ul>
